.signUp {
  &__content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
}

input[type="text"],
select {
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  //   background: #bcb6b6;
}

input[type="password"],
select {
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  //   background: #bcb6b6;
}

input[type="submit"],
select {
  width: 150px;
  height: 50px;
  padding: 12px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #3b5998;
  color: white;
  line-height: 5px;
}

input[type="submit"]:hover {
  background-color: #145ce0;
}
